.project-card {
    position: relative;
    background-color: $color-white;
    color: $primary-text-color;
    overflow: hidden;
    cursor: pointer;
    &__caption {
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        width: 80%;
        height: 100%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        hr {
            color: $color-white;
            border: 1px solid $color-white;
            width: 100%;
        }
    }
    &__logo {
        height: 40%;
        img {
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;;
        opacity: 0.6;
        z-index: 1;
        transition: 1s background ease-in-out;
    }
    &__title {
        font-family: $text-font;
        font-size: 1.2rem;
        line-height: 1.3rem;
        font-weight: bold;
        color: $color-white;
        text-align: center;
    }
    &__image {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 0;
        left: 0;
        right: 0;
        transform: scale(1.33);
        transition: transform 1s ease-in-out;
        img {
            width: 100%;
            transition: filter 1s ease-in-out;
            filter: grayscale(1);
        }
        &--hidden {
            display: none!important;
        }
    }
    &__link, &__gallery {
        position: absolute;
        z-index: 4;
        top: 0;
        right: 0;
        width: 3rem;
        height: 2rem;
        background: rgba(0,0,0,0.5);
        transition: 0.2s background ease-in-out;
        &:hover {
            background: linear-gradient(to right, $AH-yellow, $AH-orange);
            text-decoration: none;
        }
        i {
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
    &__gallery {
        color: $color-white;
        bottom: 0;
        top: auto;
    }
    &:hover {
        .project-card__overlay {
            // opacity: 0;
            background: rgba(0,0,0,0.5);
        }
        .project-card__image {
            transform: scale(1);
            img {
                filter: grayscale(0);
            }
        }
    }
}
